@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: netflix-sans;
    src: url("../fonts/NetflixSans-Bold.woff2");
}
@font-face {
    font-family: netflix-regular;
    src: url("../fonts/NetflixSans-Regular.woff2");
}
*{
    margin: 0;
    padding: 0;
}
/* body{
    background: black;
    color: white;
} */
/* .root{
    background-image: radial-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("../images/netflix1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 8%;
    position: relative;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 10vh;
    /* flex-direction: column; */
}

.img-logo{
    width: 15%;
    max-width: 150px;
    cursor: pointer;
    height: auto;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 1rem;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
}
/* .lang-btn{
    display: inline
    /* background: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.813);
    color: #ffff;  
    border-radius: 5px;
    line-height: 1.25rem;
    padding: 10px 10px;
    font-family: netflix-sans;
    font-size: 1rem;
    outline: 0;
    border-radius: 4px;
    margin-left: 30px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2.25rem;
    padding-right: 20px;
    width: fit-content; */
.lang-btn{
    display: inline-flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.014); 
    border: 0.5px solid rgba(255, 255, 255, 0.813);
    padding: 7px 10px;
}
.btn-sign-in{
    background-color: #e50914;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    font-size: 0.90rem;
    font-family: netflix-sans;

}
.main-container{
    top:50%;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title{
    font-size: 32px;
    margin-bottom: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 40px;
    font-weight: 900;
    max-width: 90%;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
}
.sub-title{
    font-family: netflix-regular;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 400;
}
.main-call-to-action{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
}
.email-signup{
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    display: flex;
    color: #fff;
    align-items: center;
    margin-top: 30px;
    border: 0.5 solid rgba(255, 255, 255, 0.813)
    /* overflow: hidden; */
}

.email-signup button{
    background: rgb(229,9,20);
    position: relative;
    border-radius: 0.25rem;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 30px;
    width: auto;
    min-height: 3rem;
}
.email-holder{
    width: 25vw;
    height: 70%;
    padding: 20px 10px;
    font-size: 1em;
    padding-right: 30px;
    background: transparent;
    border-radius: 5px;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.6); /* Adjust the alpha value to control the level of transparency */
    color: white;
    padding: 10px;
    border: 0.5 solid rgba(255, 255, 255, 0.813)
}
/* .btn-get-started{
    cursor: pointer;
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: netflix-regular;
    height: fit-content;
    background-color: #e50914;
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-right: 40px;
} */
/* .btn-get-started:hover{
    background-color: rgba(229, 9, 20, 0.753)
}  */
.features{
    padding: 5% 12%;
    font-size: 22px;
    border-top: 6px solid #333;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: netflix-sans;
}
.faq{
    padding: 5 12%;
    text-align: center;
    font-size: 18px;
    border-top: 6px solid #333;
}
.faq h2{
    font-size: 40px;
    font-weight: 500;
}
.aaccordion{
    margin: 10px auto;
    width: 100%;
    max-width: 950px;
}
.aaccordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.aaccordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    font-family: sans-serif;
}
.aaccordion li label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.aaccordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.aaccordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.aaccordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.aaccordion label{
    cursor: pointer;
}
.aaccordion label + .content{
    max-height: 0;
    overflow: hidden;
}
.faq .email-signup{
    max-width: 36.625rem;
    width: 100%;
    margin: 20px auto 60px;
}
.faq small{
    font-size: 13px;
}
.footer-container{
    /* max-width: 1370px; */
    margin: auto;
    border-top: 6px solid #333;
    padding: 0;
}
.footer{
    padding: 20px 13% 70px;
    /* display: grid; */
    color: rgba(255,255,255,0.7);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
}
.footer h2{
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 12px;
    padding: 0px;
    text-align: start;
    font-family: netflix-regular;
}
.footer col{
    flex-basis: 95%;
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 25%;
    
}
.footer .col a{
    display: block;
    color: rgba(255,255,255,0.7);
    font-size: 0.875rem;
    margin: 0px;
    text-decoration: underline solid rgba(255, 255, 255, 0.7);
    padding: 10px 100px 10px 10px;
    text-indent: 0px;
    font-family: netflix-regular;
    font-weight: 400;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
footer button{
        border: 0;
        outline: 0;
        background: #db0001;
        color: #fff;
        padding: 7px 20px;
        font-size: 12px;
        border-radius: 4px;
        margin-left: 10px;
        cursor: pointer;
}
footer p{
    display: block;
    color: rgba(255,255,255,0.7);
    font-size: 0.875rem;
    margin: 24px 0px 0px;
    text-decoration: solid rgba(255, 255, 255, 0.7);
    /* padding: 10px;
    padding-right: 100px; */
    padding: 0px;
    text-indent: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}